header
{
    background-color:red;
    color:#fff;
    padding:10px 0;
    text-align:center;
}
body
{
    background-color:#fff;
    color:red;
    font-weight:bold;
    padding:20px;
    text-align:center;
    margin:auto;
    width:60%;
}
nav ul li
{
    display:inline;
    margin-right:20px;
}
nav a
{
    color:#fff;
    text-decoration:none;
}
a:hover
{
    color:blue;
}
footer a
{
    color:red;
    text-decoration:none;
}